.primary,
.secondary {
  color: white;
  font-family: RobotoM, sans-serif;
  font-size: 17px;
  cursor: pointer;
}

.primary {
  background-color: #4452fe;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 30px;
  border: none;
}

.secondary {
  background-color: transparent;
  padding-top: 9px;
  padding-left: 30px;
  padding-bottom: 9px;
  padding-right: 30px;
  border: 1px solid white;
}

.primary:hover {
  background-color: #2731a2;
}

.secondary:hover {
  color: gray;
  border-color: gray;
}
